// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root {
    --primary1: #15172b;
    --primary2: #262a41;
    --customblue: #0026ff;
    --custompink: #ff3250;
    --customeyellow: #ffbb00;
    --customgreen: #07e642;
    --custompurple: #894fc6;
    --customdarkblue: #121432;
    --white: #ffffff;
    --customgrey: #707070;
    --customgreen1: #15d4a1;
}
body {
    color: white;
    position: relative;
    background-color: var(--primary1);
    &::-webkit-scrollbar {
        display: none;
        scrollbar-width: 0px;
    }
}
img {
    user-select: none;
}
.middle {
    transition: 0.05s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}
.gcontainer {
    #body {
        display: grid;
        // A destra sarà di 40% e a sinistra di 60%
        grid-template-columns: 40% 60%;
        //Seleziono le aree dove applicarlo,
        grid-template-areas: "Left Right";
        padding: 14px;
        #left {
            color: white;
            grid-area: Left;
            padding: 15%;
            position: relative;
            .hamburger {
                position: absolute;
                top: 0%;
                left: 2%;
            }
            .profile {
                margin-top: 5px;
                h1 {
                    font-size: 35px;
                    color: var(--white);
                    font-weight: 500;
                    text-transform: capitalize;
                }
                h2 {
                    font-size: 16px;
                    color: var(--customgrey);
                    font-weight: 300;
                }
            }
            //**I know Bootstrap or Tailwind exist, but this is literally how to do an input step by step**
            //First modify the div container
            .search {
                border: unset;
                border-radius: 15px;
                padding: 17px 25px;
                margin-top: 40px;
                background-color: #70707050;
                position: relative;
                height: 53px;
                margin-bottom: 35px;
                //The icon
                i {
                    @extend .middle;
                    opacity: 1;
                    left: 25px;
                    cursor: pointer;
                }
                //Then the input
                input {
                    color: white;
                    border: unset;
                    padding: 0.2em;
                    background-color: transparent;
                    width: 100%;
                    caret-color: var(--white);
                    //with placeholder
                    &::placeholder {
                        background-color: unset;
                        color: var(--customgrey);
                        font-size: 14px;
                    }
                }
            }
            .project {
                margin-bottom: 70px;
                h3 {
                    font-size: 20px;
                    color: white;
                    span {
                        font-size: 14px;
                        color: var(--customgrey);
                    }
                }
                .projects {
                    margin-top: 27px;
                    display: grid;
                    grid-template-columns: repeat(3, 112px);
                    grid-auto-flow: dense;
                    .a-project {
                        border-radius: 1em;
                        background-color: transparent;
                        margin-bottom: 1em;
                        padding: 0.5em;
                        span {
                            font-size: 17px;
                            font-size: 900;
                            color: white;
                        }
                        div.box-color {
                            height: 100px;
                            border-radius: 1em;
                            overflow: hidden;
                            position: relative;
                            span {
                                @extend .middle;
                                opacity: 1;
                            }
                            i {
                                @extend .middle;
                                opacity: 1;
                            }
                            &:hover {
                                border: 4px solid var(--custompink);
                                transition: border 400ms ease;
                            }
                        }
                        &:nth-child(1) {
                            .box-color {
                                background-color: var(--customblue);
                            }
                        }
                        &:nth-child(2) {
                            .box-color {
                                background-color: var(--custompink);
                            }
                        }
                        &:nth-child(3) {
                            .box-color {
                                background-color: var(--customeyellow);
                            }
                        }
                        &:nth-child(4) {
                            .box-color {
                                background-color: var(--customgreen);
                            }
                        }
                        &:nth-child(5) {
                            .box-color {
                                background-color: var(--custompurple);
                            }
                        }
                        &:nth-child(6) {
                            .box-color {
                                background-color: var(--customblue);
                            }
                        }
                    }
                }
                .grid {
                    bottom: 0;
                    left: 0;
                    position: absolute;
                }
                .grid-right {
                    bottom: 0;
                    right: -10%;
                    position: absolute;
                }
            }
        }
        #right {
            position: relative;
            grid-area: Right;
            background-color: white;
            color: var(--customdarkblue);
            border-radius: 15px;
            padding: 65px 85px 70px 20px;
            h1 {
                font-size: 24px;
                font-weight: 400;
                margin-bottom: 10px;
            }
            .horizontal {
                margin-bottom: 10px;
            }
            // Bottoni sottotitoli
            .leftH {
                height: 10px;
                width: 15%;
                background-color: var(--customgrey);
                opacity: 0.2;
                border-radius: 10px;
                transition: 0.2s ease;
                &:hover {
                    background-color: var(--customgreen);
                    opacity: 1;
                    transition: 0.5s ease-in-out;
                }
                &:focus {
                    background-color: var(--customgreen);
                    opacity: 1;
                }
            }
            .rightH {
                height: 10px;
                width: 15%;
                background-color: var(--customgrey);
                opacity: 0.2;
                border-radius: 10px;
                transition: 0.2s ease;
                &:hover {
                    background-color: var(--customgreen);
                    opacity: 1;
                    transition: 0.5s ease-in-out;
                }
                &:focus {
                    background-color: var(--customgreen);
                    opacity: 1;
                }
            }
            // Bottoni sottotitoli/

            p {
                font-size: 12px;
                font-weight: 300;
                width: 500px;
            }
            .user-icon {
                position: absolute;
                right: 40px;
                top: 65px;
                cursor: pointer;
            }
            .tasks,
            .upcoming {
                margin-bottom: 1.3em;
                .add-tasks {
                    h2 {
                        font-size: 15px;
                        font-weight: 400;
                    }
                }
                input[type="text"],
                form {
                    border: unset;
                    border-bottom: 1px solid var(--customgrey);
                    width: 100%;
                    caret-color: var(--primary1);
                }
                ul.tasks-list {
                    margin-top: 15px;
                    li {
                        display: flex;
                        flex-direction: column;
                        .info {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            cursor: pointer;
                            padding: 0.4em;
                            border-radius: 0.4em 3em;
                            &:hover {
                                background-color: #70707010;
                                transition: all 400ms ease-in-out;
                            }
                            .left {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                label {
                                    cursor: pointer;
                                    margin-top: 0.3em;
                                    padding-top: 0.4em;
                                    input {
                                        display: none;
                                    }
                                    span {
                                        height: 20px;
                                        width: 20px;
                                        display: inline-block;
                                        position: relative;
                                        border-radius: 50px;
                                        border: 2px solid var(--customgreen1);
                                    }
                                    [type="checkbox"]:checked + span:before {
                                        content: "\2714";
                                        @extend .middle;
                                        height: 20px;
                                        width: 20px;
                                        border-radius: 50px;
                                        border: 2px solid var(--customgreen1);
                                        background-color: var(--customgreen1);
                                        opacity: 1;
                                        font-size: 12px;
                                        top: 45%;
                                        color: white;
                                    }
                                }
                                h4 {
                                    margin-left: 15px;
                                    font-size: 14px;
                                    color: var(--primary2);
                                    font-weight: 600;
                                }
                            }
                            .right {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: space-between;
                                button {
                                    padding: 5px 30px;
                                    border-radius: 50px;
                                    border: unset;
                                    box-shadow: unset !important;
                                    width: 120px;
                                    font-size: 12px;
                                    white-space: nowrap;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.approved {
    background-color: #15d4a150;
    color: #15d4a1;
}

.inprogress {
    background-color: #0060ff20;
    color: #0060ff;
}

.rejected {
    background-color: #ff0e4620;
    color: #ff0e46;
}
